<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agro </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="style.css">

</head>
<script>
    let navbar=document.querySelector('.navbar');

document.querySelector('#menu-btn').onclick=()=>{
    navbar.classList.toggle('active');
    searchForm.classList.remove('active');
    cartItem.classList.remove('active');
}

let searchForm =document.querySelector('.search-form');

document.querySelector('#search-btn').onclick=()=>{
    searchForm.classList.toggle('active');-
    navbar.classList.remove('active');
    cartItem.classList.remove('active');
}

let cartItem =document.querySelector('.cart-items-container');

document.querySelector('#cart-btn').onclick=()=>{
    cartItem.classList.toggle('active');
    navbar.classList.remove('active');
    searchForm.classList.remove('active');
}


window.onscroll = () =>{
    navbar.classList.remove('active');
    searchForm.classList.remove('active');
    cartItem.classList.remove('active');
}
</script>
<body>

<!-- header ashyldy -->
<header class="header">
    <a href="#" class="logo">
        <img src="logo.png.png" alt="Logo">
    </a>

    <nav class="navbar">
        <a href="/">Басты бет</a>
        <a href="catalog.html">Каталог</a>
        <a href="/contact">байланыс</a>
        <a href="/form">Профиль</a>
    </nav>

    <div class="icons">
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
        <div class="fas fa-bars" id="menu-btn"></div>
    </div>

    <div class="search-form">
        <input type="search" id="search-box" placeholder="search here...">
        <label for="search-box" class="fas fa-search"></label>
    </div>
</header>

<!-- header zhabyldy -->

<!-- negizgi bet ashyldy -->
<section class="home" id="home">

    <div class="content">
        <h3>Қош келдіңіз!</h3>
        <p>Біздің билеттердің қолданылуы арқылы әуе, көлік және көлік өткізудің әр түріне байланысты шығын билеттерін қосымшаға тапсырыс беру мүмкіндігін ұсынамыз. Біз пайдаланушыларға толықтыруларды, бағаларды салыстыруды және ұсыныстарды қолдануға мүмкіндік беретін, саяхат маршруттары мен кезекті кездесетін, артықшылықтары және сапалы ұшуларды таңдауға мүмкіндік береміз. Біздің қосымшалар пайдаланушыларға оптимальды жолдарды таңдау, кестелер мен бағаларды салыстыру және сапаға саяхат жасауға көмектесеміз.</p>
        <a href="catalog.html" class="btn">Заказды жасау!</a>
    </div>
</section>
<!-- negizgi bet zhabyldy-->
<!-- about ashyldy -->
<section class="about" id="about">
    <h1 class="heading"> <span>Біз </span> туралы</h1>
    <div class="row">
        <div>
            <img src="about.jpg" alt="">
        </div>

        <div class="content">
            <h3>Неге бізді таңдау керек?</h3>
            <p>Билеттерін алдын ала сатып алыңыз.Жоспарланған сапардан бірнеше ай бұрын рейстерді брондаңыз, содан кейін сіз арзан бағамен рейстерді таба аласыз. Көбінесе төмен тарифтік билеттер қайтарылмайды және айырбасталмайды және оларды тез сатады. Сондықтан cапарынызға дейін неғұрлым көп уақыт болса, соғұрлым тиімді билетін брондау мүмкіндігі артады.</p>
            <p>Ыстық Маусымда емес рейстерді іздеңіз
                Көбісі жазда саяхаттағысы келеді, өйткені мектеп демалысы басталады, ауа-райы демалуға мүмкіндік береді. Сондықтан жазда және мереке күндері билеттер қымбатырақ. Саяхаттаудың ең жақсы уақытын табу үшін біздің сайттағы төмен бағалар күнтізбесін пайдаланыңыз. Қажетті бағыт пен күнді енгізіп, билеттерді салыстыру үшін іздеу түймесін басыңыз. Егер баға сізге сәйкес келмесе, онда біздің күнтізбені қараңыз-онда сіз ұсыныстарды тиімдірек таба аласыз. </p>
            <a href="/buytick" class="btn">Таңдау!</a>
        </div>
    </div>
</section>
<!-- about zhabyldy -->

<!-- menu ashyldy -->
<section class="menu" id="menu">
    <h1 class="heading">Горячие <span> туры </span></h1>

    <div class="box-container">

        <div class="box">
            <img src="menu1.png.png" alt="">
            <h3>Актау</h3>
            <div class="price">40000 тг<span>80000 тг</span></div>
            <a href="#" class="btn">Таңдау!</a>
        </div>

        <div class="box">
            <img src="C:\Users\Admin\PycharmProjects\Project\templates\menu2.png.png" alt="">
            <h3>Алма-ата</h3>
            <div class="price">50000тг <span> 80000тг</span></div>
            <a href="#" class="btn">Таңдау!</a>
        </div>

        <div class="box">
            <img src="menu3.png.png" alt="">
            <h3>Бурабай</h3>
            <div class="price">30000тг <span> 50000тг</span></div>
            <a href="#" class="btn">Таңдау!</a>
        </div>

        <div class="box">
            <img src="menu4.png.png" alt="">
            <h3>Катон-Қарағай</h3>
            <div class="price">80000тг <span> 120000тг</span></div>
            <a href="#" class="btn">Таңдау!</a>
        </div>

        <div class="box">
            <img src="menu5.png.png" alt="">
            <h3>Иссык-Куль</h3>
            <div class="price">60000тг<span> 90000тг</span></div>
            <a href="#" class="btn">Таңдау!</a>
        </div>

        <div class="box">
            <img src="menu6.png.png" alt="">
            <h3>Баянаул</h3>
            <div class="price">20000тг <span> 30000тг</span></div>
            <a href="#" class="btn">Таңдау!</a>
        </div>

        <div class="box">
            <img src="menu7.png" alt="">
            <h3>Шымкент</h3>
            <div class="price">30000тг <span> 50000тг</span></div>
            <a href="#" class="btn">Таңдау!</a>
        </div>

        <div class="box">
            <img src="menu8.png" alt="">
            <h3>Шетелден турларды таңдау</h3>
            <div class="price">150000тг бастап</div>
            <a href="#" class="btn">Таңдау!</a>
        </div>
    </div>
</section>
<!-- menu zhabyldy -->

<!-- products ashyldy -->
 <section class="products" id="products">


    </div>

 </section>
<!-- products zhabyldy -->

<!-- review ashyldy -->
<section class="review" id="review">

    <h1 class="heading"> Біздің <span> клиенттердің шолулары!</span></h1>

    <div class="box-container">

        <div class="box">
            <img src="quote.png" alt="" class="quote">
            <p>Поездтер:
                 "Көлікке сағаттардың аралығында саяхат өте ыңғайлы, артқы жерлерге болуға мүмкіндік береді. Купе немесе плацкартты таңдау мүмкіндігі комфорт жасайды және жолдағы пейзаждарды айқындауға мүмкіндік береді."
                 "Мемлекет ішінде саяхаттарда қолданамын. Олар кесте бойынша дәл сынап, вагонда орны таңдау мүмкіндігі бар.".</p>
            <img src="pic1.png" class="user" alt="">
            <h3>Алия Женисовна</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
        </div>

        <div class="box">
            <img src="quote.png" alt="" class="quote">
            <p>  Ұшақтар:
                 "Ұшақ аяқтағы жерлерге тез және ықшам сапарлар құрау жолы — бұл жылдам және ыңғайлы жол. Бірақ билеттер күмән болуы мүмкін, және қосымша төлемдер жолдан шығаруы мүмкін пайда болуы мүмкін."
                "Ұшақтар ғаламторлардың көптігінде ұсынылған рейстердің шаралары мен әрекеттері бар, бірақ қайталанатын орын аз болуы мүмкін.".</p>
            <img src="pic2.png" class="user" alt="">
            <h3>Айгуль Саматова</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

        <div class="box">
            <img src="quote.png" alt="" class="quote">
            <p> Автобустар:
            "Автобустар көптің тиімді және экономиялы саяхаттары болып табылады. Олар жылдам емес, бірақ саяхатта комфорт және ықпалдылық ұсынады."
        "Қысқа саяхаттар үшін автобустардан пайдаландым. Олар өтінішті жоғары болмаған кезде, пейзаждарды артықшылық жасау мен жерлі мешіттермен сөйлесу мүмкіндігін ұсынады..</p>
            <img src="pic3.png" class="user" alt="">
            <h3>Ахмадияр Мунайтпасов</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
    </div>
</section>
<!-- review zhabyldy -->

<!-- contact ashyldy -->
<section class="contact" id="contact">

    <h1 class="heading"><span>байла</span>ныс </h1>

    <div class="row">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d80029.2356436822!2d71.20480729726557!3d51.18381510000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4245871991164b69%3A0xe4b2dd43a473b958!2sAkjol-%20inc!5e0!3m2!1sru!2skz!4v1703427411171!5m2!1sru!2skz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <form action="">
            <h3>Енгізу</h3>
            <div class="inputBox">
                <span class="fas fa-user"></span>
                <input type="text" placeholder="Name">
            </div>

            <div class="inputBox">
                <span class="fas fa-envelope"></span>
                <input type="email" placeholder="Email">
            </div>

            <div class="inputBox">
                <span class="fas fa-phone"></span>
                <input type="number" placeholder="Number">
            </div>
            <input type="submit" value="Жіберу!" class="btn">
        </form>
    </div>

</section>
<!-- contact zhabyldy -->


<!-- blog ashyldy -->
<section class="blogs" id="blogs">
    <h1 class="heading"> Біздің <span> блогымыз</span></h1>
    <div class="box-container">
        <div class="box">
            <div class="image">
                <img src="blog1.jpg" alt="">
            </div>
            <div class="content">
                <a href="#" class="title">Қуанышты хабар!</a>
                <span>20 Наурыз, 2023</span>
                <p>Біздің ашылғанымызға арнайы әрбір саяхат 20% cкидка.</p>
                <a href="#" class="btn">Таңдау!</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="blog2.jpg" alt="">
            </div>
            <div class="content">
                <a href="#" class="title">Жаңа жер,жаңа көрініс!</a>
                <span>1 желтоқсан, 2023</span>
                <p>Бодрумға бірге саяхаттайық,20 желтоқсанға билеттерді сатып алуға үлгерініз!</p>
                <a href="#" class="btn">Таңдау!</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="blog3.jpg" alt="">
            </div>
            <div class="content">
                <a href="#" class="title">Жаңа жыл,құтты болсын!</a>
                <span>30 желтоқсан, 2022</span>
                <p>Жаңа жыл құтты болсын!Біз AQ Zhol сізді жаңа қуаныштармен қарсаламыз.</p>
                <a href="#" class="btn">Таңдау!</a>
            </div>
        </div>
    </div>
</section>
<!-- blog zhabyldy -->

<!-- footer ashyldy  -->
<section class="footer">
    <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
        <a href="#" class="fab fa-whatsapp"></a>
    </div>
    <div class="links">
        <a href="/home">Басты бет</a>
        <a href="/buytick">Билет сатып алу</a>
        <a href="/contact">Байланыс</a>
        <a href="/form">Профиль</a>
    </div>

    <div class="credit">2023| AQ ZHOL </div>

</section>
<!-- footer zhabyldy  -->

<script src="script.js"></script>

</body>
</html>